
<div class="container-fluid footstyles">
    <div class="row foot2">
        <div class="col-md-6 description">
            <div class="title">
                {%- if site.title -%}
                    <h3>{{site.title}}</h3>
                {%- endif -%} 
            </div>
            {%- if site.footerdescription -%}
                <div class="description">
                    <p>{{site.footerdescription}}</p>
                </div>
            {%- endif -%}
        </div>
        <div class="col-md-6 social-links">
            {%- if site.email -%}
            <span><i class="fas fa-envelope"></i> {{site.email}}</span>
            {%- endif -%}
            
            {%- if site.github_username -%}
                <span><i class="fab fa-github-alt"></i><a href="https://github.com/{{site.github_username}}"> {{site.github_username}}</a></span>
            {%- endif -%}
            
            {%- if site.linkedin_username -%}
           <span><i class="fab fa-linkedin-in"></i><a href="https://linkedin.com/in/{{site.linkedin_username}}"> {{site.linkedin_username}}</a></span>
            {%- endif -%}
        </div>
    </div>
</div>