<!-- Here we will design a navbar -->
<div class="toggle">
    <ion-icon name="moon" class="dark" id="darkIcon"></ion-icon>
    <div class="title2">
        {%- if site.title -%}
            <p style="margin-top:-5px"><strong>{{site.title}}</strong></p>
        {%- endif -%}
    </div>
    <div class="ico">
        
        <div class="links2">
            
            {%- for navlinks in site.navigation-%}
                <a href="{{navlinks.link}}">{{navlinks.name}}</a>
            {%- endfor-%}  
        </div>
        <ion-icon name="list" class="icob"></ion-icon>
    </div>
</div>
<div class="link-toggle">
    <div class="links3">
        {%- for navlinks in site.navigation-%}
            <a href="{{navlinks.link}}">{{navlinks.name}}</a>
        {%- endfor-%}  
    </div>
</div>
