<div class="container-fluid">
    <h2>My Projects</h2>
    <section class="project-section">
        
        <article>
            <div class="project-card">
                <div class="project-title">
                    <h3>IMDb Scraper</h3>
                </div>
                <div class="project-features">
                    <!-- want to include the language of the project and stars -->

                </div>
                <div class="project-body">
                    <p>Web Scraper to extract meta-data of movies 🎬 from Official IMDb WebSite</p>
                </div>
            </div>
        </article>
        <article>
            <div class="project-card">
                <div class="project-title">
                    Laravel Bakery Ecom Web App
                </div>
                <div class="project-features">

                </div>
                <div class="project-body">
                    <p>🍰 ☕ Designed E-commerce website for Bakery Products 🍕 🎂</p>
                </div>
            </div>
        </article>
        <article>
            <div class="project-card">
                <div class="project-title">
                    Chrome Extension Easy Notes
                </div>
                <div class="project-features">

                </div>
                <div class="project-body">
                    <p>This chrome extension will let users take notes easily while surfing web sites. 📄</p>
                </div>
            </div>
        </article>
    </section>
</div>