<div class="container-fluid">
	<div class="container-fluid text-center mt-5 mb-5">	
			<h3>SKILLS</h3>
	</div>
	<div class="row">
		<div class="col-sm-6 col-lg-4 col-md-6 ">
			<div class="skill-card">
				<div class="skill-img">
					<img src="/assets/frontend.svg">
				</div>
				<div class="skill-body">
					<h3>FRONT-END</h3>
					<div class="list-skill">
						<div class="skill-little-card">
							<p>HTML</p>
						</div>
						<div class="skill-little-card">
							<p>CSS</p>
						</div>
						<div class="skill-little-card">
							<p>JS</p>
						</div>
						<div class="skill-little-card">
							<p>Jquery</p>
						</div>
						<div class="skill-little-card">
							<p>Bootstrap</p>
						</div>
						<div class="skill-little-card">
							<p>Angular</p>
						</div>
						<div class="skill-little-card">
							<p>React</p>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="col-sm-6 col-lg-4 col-md-6">
			<div class="skill-card">
				<div class="skill-img">
					<img src="/assets/backend.svg">
				</div>
				<div class="skill-body">
					<h3>BACK-END</h3>
					<div class="list-skill">
						<div class="skill-little-card">
							<p>Nodejs</p>
						</div>
						<div class="skill-little-card">
							<p>Php</p>
						</div>
						<div class="skill-little-card">
							<p>Laravel</p>
						</div>
						<div class="skill-little-card">
							<p>MongoDb</p>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="col-sm-6 col-lg-4 col-md-6" >
			<div class="skill-card">
				<div class="skill-img">
					<img src="/assets/Animation.svg">
				</div>
				<div class="skill-body">
					<h3>Animation</h3>
					<div class="list-skill">
						<div class="skill-little-card">
							<p>ThreeJS</p>
						</div>
						<div class="skill-little-card">
							<p>WebGL</p>
						</div>
						<div class="skill-little-card">
							<p>CSS Keyframe</p>
						</div>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>