
// @import "minima";
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
html,body{
    margin: 0!important;
    overflow: hidden;
}

canvas{
    margin-left: 15px;
    border: none;
}

.nav-container{
    background-color: white;
    color: black;
    padding: 25px;
}

.nav-container>.title2{
    margin: 0px 10px;
    float: left;
    font-family: 'Raleway', sans-serif;
}
.title2>p{
    font-family: 'Raleway', sans-serif;
}

.nav-container>.links2{
    margin: 0 10px;
    float: right;
}

.links2>a{
    margin: 10px 10px;
    text-decoration: none;
    color: black;
}

#container{
    min-height: 50%;
    padding: 18px 78px;
    background-color: #f5f5fd;
}


.postercontainer{
    background-image: linear-gradient(to bottom, rgba(53, 134, 133, 0.52), rgba(108, 181, 202, 0.73)),
url('/assets/web.png');
    opacity: 0.8;
    height: 73vh;
    margin-top: -16px;
    background-size: cover;
    background-attachment: fixed;
    background-position: 40%;
    background-repeat: no-repeat;
    display: flex;
    background-color: black; 
}

.posterr{
    margin: auto;
    color: white;
}
.posterr>h3{

    font-size: 50px;
}
.card-container{
    overflow: auto;
    display: flex;
    // flex-direction: row;
    flex-wrap: wrap;
    padding: 18px 18px;
}

.card{
    width: 21rem;
    height: 25rem;
    // display: inline-block!important;
    margin: 18px 18px;    
    border: none;
}

.card:hover{
    cursor: pointer;
    box-shadow: 1px 1px 20px #333333;
    transition: all 0.4s ease;
}

.card>img{
    height: 180px;
    width: 100%;
}

.footstyles{
    box-shadow: 15px 15px 15px 10px black;
    background-color: white;
    color: black;
}

.footstyles>div>div>a{
    color: black;
}

.foot2{
    display: flex;
    padding: 38px;
}

.foot2>div{
    padding: 18px;
}
.foot2>div>h3{
    margin-left: 15px;
}

.description{
    display: flex;
}

.title{
    display: flex;
    width: 300px;
    margin-top: 25px;
}

.social-links{
    display: flex;
    flex-direction: column;
}

@media (max-width: 596px){
    .card-container{
        padding: 10px 10px;
    }   
}