
// @import "minima";
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
html,body{
    margin: 0!important;
    overflow: hidden;
}

canvas{
    margin-top: -17px;
    border: none;
}

.nav-container{
    background-color: white;
    color: black;
    padding: 25px;
}

.nav-container>.title2{
    margin: 10px 10px;
    float: left;
    font-family: 'Raleway', sans-serif;
}
.title2>p{
    font-family: 'Raleway', sans-serif;
}

.nav-container>.links2{
    margin: 0 10px;
    float: right;
}

.links2>a{
    margin: 10px 10px;
    text-decoration: none;
    color: black;
}

#container{
    padding: 18px 78px;
    background-color: #f5f5fd;
}

.githubbtn{
    margin-bottom: 10px;
}

.postercontainer{
    background-image: linear-gradient(to bottom, rgba(53, 134, 133, 0.52), rgba(108, 181, 202, 0.73)),
url('/assets/web.png');
    opacity: 0.8;
    height: 73vh;
    margin-top: -16px;
    background-size: cover;
    background-attachment: fixed;
    background-position: 40%;
    background-repeat: no-repeat;
    display: flex;
    background-color: black; 
}

.posterr{
    margin: auto;
    color: white;
}
.posterr>h3{

    font-size: 50px;
}
.card-container{
    overflow: auto;
    display: flex;
    // flex-direction: row;
    flex-wrap: wrap;
    padding: 38px 68px;
}

.card{
    width: 21rem;
    height: 25rem;
    // display: inline-block!important;
    margin: 18px 18px;    
    border: none;
}

.card:hover{
    cursor: pointer;
    box-shadow: 1px 1px 20px #333333;
    transition: all 0.4s ease;
}

.card>img{
    height: 180px;
    width: 100%;
}

.project-container{
    display: flex;
    overflow: hidden;
    width: 1000px;
    padding: 18px;
    margin: 18px;
    transition: all 0.5s ease;
}

.project-container:hover{
    box-shadow: 10px 1px 30px 1px #232323;
}
.card-container>h3{
    margin: 0 auto;
}



hr{
    padding: 0;
    margin: 0;
}

.canvas-above{
    position: absolute;
    color: white;
    padding: 18px;
    top: 170;
    left: 400;
}

.canvas-button{
    padding: 10px;
    margin-top: 15px;
    margin-left: 160px;
}

.canvas-above>h3{
    font-size: 40px;
}

.project-photo,.project-details{
    padding: 18px;
}

.project-photo>img{
    height: 300px;
    width: 500px;
}

.footstyles{
    box-shadow: 15px 15px 15px 10px black;
    background-color: white;
    color: black;
}

.footstyles>div>div>a{
    color: black;
}

.foot2{
    display: flex;
    padding: 38px;
}

.foot2>div>h3{
    margin-left: 15px;
}

.description{
    display: flex;
}

.title{
    display: flex;
    width: 300px;
    margin-top: 25px;
}

.social-links{
    display: flex;
    flex-direction: column;
}

.title2{
    font-size: 20px;
}


.post-content{
    padding: 28px;
    width: 1000px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}

.post-content>h2{
    text-align: center;
}

.post-content>.form-back{
    margin: 0 auto;
    width: 500px;
    padding: 18px 18px;
}


.post-content>p>img{
    margin: 0 auto;
    width: 450px;
    height: 330px;
    display: block;
}



@media (max-width: 1276px){
    .canvas-above{
        top: 170;
        left: 300;
    }
    .canvas-above>h3{
        font-size: 38px;
    }
    .project-photo>img{
        height: 290px;
        width: 450px;
    }
}
@media (max-width: 1196px){
    .canvas-above{
        top: 170;
        left: 300;
    }
    .canvas-above>h3{
        font-size: 36px;
    }   
    .canvas-button{
        margin-left: 110px;
    }

    .project-photo>img{
        height: 260px;
        width: 400px;
    }
}
@media (max-width: 1036px){
    .canvas-above{
        top: 170;
        left: 280;
    }   
    .canvas-above>h3{
        font-size: 34px;
    }
    .canvas-button{
        margin-left: 100px;
    }
    .project-photo>img{
        height: 200px;
        width: 300px;
    }
}
@media (max-width: 990px){
    .canvas-above{
        top: 170;
        left: 260;
    }   
    .canvas-above>h3{
        font-size: 33px;
    }
    .canvas-button{
        margin-left: 100px;
    }
    .project-photo>img{
        height: 180px;
        width: 270px;
    }
}

@media (max-width: 890px){
    .canvas-above{
        top: 170;
        left: 220;
    }   
    .canvas-above>h3{
        font-size: 31px;
    }
    .canvas-button{
        margin-left: 100px;
    }
    .project-photo>img{
        height: 260px;
        width: 100%;
    }
    .project-container{
        padding: 0;
        flex-direction: column;
    }
}

@media (max-width: 790px){
    .canvas-above{
        top: 170;
        left: 200;
    }   
    .canvas-above>h3{
        font-size: 30px;
    }
    .canvas-button{
        margin-left: 100px;
    }
    .project-photo>img{
        height: 240px;
        width: 100%;
    }
}

@media (max-width: 740px){
    .canvas-above{
        top: 170;
        left: 100;
    }   
    .canvas-above>h3{
        font-size: 30px;
    }
    .canvas-button{
        margin-left: 100px;
    }
    #container{
        padding: 10px 60px;
    }
    .project-photo>img{
        height: 220px;
        width: 100%;
    }
}

@media (max-width: 620px){
    .canvas-above{
        top: 170;
        left: 50;
    }   
    .canvas-above>h3{
        font-size: 28px;
    }
    .canvas-button{
        margin-left: 80px;
    }
    #container{
        padding: 10px 30px;
    }
    .card-container{
        padding: 38px 10px;
    }
    .post-content>.form-back{
        width: 500px;
    }
}

@media (max-width: 500px){
    .canvas-above{
        top: 170;
        left: 40;
    }   
    .canvas-above>h3{
        font-size: 26px;
    }
    .canvas-button{
        margin-left: 50px;
    }
    #container{
        padding: 10px 10px;
    }
    .card-container{
        padding: 38px 10px;
    }
    .links2{
        display: none;
    }
    .post-content>.form-back{
        width: 450px;
    }
}


@media (max-width: 450px){
    .canvas-above{
        top: 170;
        left: 40;
    }   
    .canvas-above>h3{
        font-size: 20px;
    }
    .canvas-button{
        margin-left: 50px;
    }
    .title2{
        font-size: 13px!important;
    }
    .links2{
        font-size: 3px;
    }
    #container{
        padding: 10px 0px;
    }
    .card-container{
        padding: 38px 10px;
    }
    .post-content>p>img{
        width: 350px;
        height: 270px;
    }
    .post-content>.form-back{
        width: 430px;
    }
}

@media (max-width: 400px){
    .canvas-above{
        top: 170;
        left: 40;
    }   
    .canvas-above>h3{
        font-size: 20px;
    }
    .canvas-button{
        margin-left: 30px;
    }
    .title2{
        font-size: 14px!important;
        margin-bottom: 10px!important;
    }
    .links2{
        display: none;
    }
    #container{
        padding: 10px 0px;
    }
    .card-container{
        padding: 38px 0px;
    }
    .foot2{
        flex-direction: column;
    }
    .post-content>p>img{
        width: 300px;
        height: 240px;
    }
    .post-content>.form-back{
        width: 430px;
    }
}

@media (max-width: 350px){
    .canvas-above{
        top: 170;
        left: 40;
    }   
    .canvas-above>h3{
        font-size: 20px;
    }
    .canvas-button{
        margin-left: 30px;
    }
    .title2{
        font-size: 14px!important;
        margin-bottom: 10px!important;
    }
    .links2{
        display: none;
    }
    .container{
        font-size: 10px;
    }
    .post-content>p>img{
        width: 260px;
        height: 200px;
    }
    .post-content>.form-back{
        width: 400px;
    }
}