<!-- head file -->
{%- include head.html  -%}
<body>
    <!-- navigation code -->
    {%- include nav.html-%}
    <!-- {%- include poster.html -%} -->
    <canvas></canvas>
    <div id="container">
    <div class="card-container">
        {%- for post in site.posts -%}
            <div class="card">
                <img class="card-img-top" src="{{post.imageurl}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"><a href="{{post.url}}">{{post.title}}</a></h4>
                    <p class="card-text">{{post.description}}</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        {%- endfor -%}
    </div>
    </div>

    <!-- footer file -->
    {%- include footer.html -%}
    <script type="text/javascript" src="/assets/canvas.js"></script>
    </body>
</html>