<!-- head file -->
{%- include head.html  -%}
<body>
    <!-- navigation code -->
    <div class="canvas-holder">
        {%- include nav.html-%}
        <!-- {%- include poster.html -%} -->
        <canvas></canvas>
        <div class="canvas-above">
            <h3>Hello I'm Yatharth Verma</h3>
            <h3>I'm a Full Stack Web Developer</h3>
            <!-- <button class="canvas-button" data-page="container">See My Work Below</button> -->
        </div>
        <div class="fluid-container button-holder text-center">
            <img src="/assets/arrow.svg" alt="Arrow" class="canvas-button" data-page = "container">
        </div>
    </div>
    
    
    <div id="container">
        
        {%- include skills.html -%}
        <div class="card-container">
            
            {%- if site.posts -%}
            <h3>My Projects</h3>
            {%- endif -%}
            {%- for post in site.posts -%}
                <div class="project-container">
                    <div class="project-photo">
                        {%- if post.imageurl -%}
                            <img src="{{post.imageurl}}" alt="post.title">
                        {%- endif -%}
                    </div>
                    <div class="project-details">
                        {%- if post.title -%}
                            <h3>{{post.title}}</h3>
                        {%- endif -%}
                        {%- if post.description -%}
                            <p>{{post.description}}</p>
                        {%- endif -%}

                        <a href="https://github.com/yatharth1706/{{post.githuburl}}"><button class="btn btn-md btn-primary">View on Github</button></a>
                        
                    </div>
                </div>
            {%- endfor -%}

        </div>
    </div>

    <!-- footer file -->
    {%- include footer.html -%}
    <script type="text/javascript" src="/assets/canvas.js"></script>
    </body>
</html>