<!-- head file -->
{%- include head.html  -%}
<body>
    <!-- navigation code -->
    <div class="canvas-holder">
        {%- include nav.html-%}
        <!-- {%- include poster.html -%} -->
        <canvas></canvas>
        <div class="container-fluid canvasAboveContainer text-center">
            <div class="canvas-above">
                <h2>👋🏼 Hello I'm Yatharth Verma</h2>
                <h2>I'm a Full Stack Web Developer</h2>
            </div>
        </div>
        <div class="container-fluid button-holder text-center">
            <img src="/assets/arrow.svg" alt="Arrow" class="canvas-button" data-page = "container">
        </div>
    </div>
    
    
    <div id="container">
        
        {%- include skills.html -%}
        
        {%- if site.posts -%}
            <h3 class="text-center">Blogs</h3>
        {%- endif -%}
        <div class="card-container">
            
            
            {%- for post in site.posts -%}
                <div class="project-container">
                    <div class="project-photo">
                        {%- if post.imageurl -%}
                            <img src="{{post.imageurl}}" alt="post.title">
                        {%- endif -%}
                    </div>
                    <div class="project-details">
                        {%- if post.title -%}
                            <a href="{{post.permalink}}"><h3 class="blog-title">{{post.title}}</h3></a>
                            <span>{{post.date | date : "%b %d, %Y"}}</span>
                        {%- endif -%}
                        {%- if post.description -%}
                            <p>{{post.description}}</p>
                            
                        {%- endif -%}
                        <a href="{{post.permalink}}"><button class="btn btn-sm btn-primary blog-butn">View More</button></a>
                    </div>
                </div>
            {%- endfor -%}

        </div>

        {%- include projects.html -%}
    </div>

    <!-- footer file -->
    {%- include footer.html -%}
    
    </body>
</html>